{{> menu active="dashboard"}}
<h1>locations by county</h1>
<p>add hikes to newly explored counties create a newly explor </p>
<section class="section">
  {{> list-locations}}
  {{> add-location}}
</section>