{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{location.title}}
    </div>
    {{> list-hikes}}
    {{> add-hike}}
  </div>
  <div class="column">
    {{> location-image }}
  </div>
</section>