<form action="/dashboard/addhiketrail" method="POST">
  <div class="field">
    <label class="label">hiketrail title</label> <input class="input" type="text" placeholder="enter hiketrail title" name="title">
  </div>
  <button class="button is-link">add hiketrail</button>
</form>