<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> hikeplace-brand}}
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" id="login" href="/login"> log in </a> 
          <a class="button" id="signup" href="/signup"> signup </a>
          <a class="button" id="admin" href="/loginAdmin"> admin</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>